<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
        <nav class="navbar navbar-dark bg-dark">
                <table>
                    <tr>
                
    
                     <td><h3> <input type="button" class="btn btn-success" value="ADD"/></h3></td><td></td>
                     <td><h3><input type="button" class="btn btn-success" value="VIEW"/></h3></td>
                     <td><h3><input type="button" class="btn btn-success" value="VIEW all"/></h3></td>
                
                
                </tr>
                </table>
                </nav>










      <div class="container">
          <div class="row">
              <div class="form">
                  <form action="/info" method="get">
                    <table class="table">
                        <tbody>
                          <tr>
                              <td>Applicant name</td><td><input type="text" name="n" class="form-control" value=<%=info.n%>></td>
                          </tr>
                          <tr>
                              <td>Admission no:</td><td><input type="text" name="a" class="form-control" value=<%=info.a%>></td>
                            </tr>
                            <tr>
                              <td>college choosed:</td><td><input type="text"name="c" class="form-control" value=<%=info.c%>></td>
                          </tr>
                           <tr>
                              <td></td><td><button type ="submit" class= "btn btn-success">check values</button></td>
                          </tr> 

                        </tbody>
                
                
                
                </form>

              </div>
          </div>
      </div>

    
</body>
</html>